@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
  overflow: hidden;
}

.App {
  height: 100%;
  width: 100%;
}

.Header {
  width: 100%;
  height: 10vh;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(180, 38%, 56%);
  align-items: center;
}

.Header h1 {
  font-weight: bold;
}

.Header img {
  width: 65px;
  height: 65px;
}

.mapScreenContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;  
  width: 100vw;
  height: 90vh;
}

.markerContainer a {
  text-decoration: none;
}

.markers {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid hsl(335, 55%, 60%);
  border-radius: 50%;
  background-color:hsl(0, 100%, 29%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  transition: all 0.3s ease-out;
}

.markers:hover{
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  background-color: hsl(335, 55%, 60%);
  border: 0.2rem solid hsla(289, 89%, 35%, 0.415);
}

.clickMarker {
  z-index: 20;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 5px solid hsl(260, 100%, 73%);
  border-radius: 50%;
  background-color:hsl(210, 97%, 62%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  transition: all 0.3s ease-out;
}

.notDisplay {
  display: none;
}

.infoContainer {
  position: absolute;
  width: 50%;
  max-width: 650px;
  height: 80%;
  bottom: 45px;
  left: 0px;
  background-color: transparent;}

.infoWindow, .toiletPage  {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  margin: 0;
  width: 100%;
  max-width: 650px;
  height: 100%;
  bottom: 20px;
  left: 0px;
  color: whitesmoke;
  background-color: hsl(180, 38%, 56%);
  box-shadow: 0 0 7px hsl(0, 0%, 30%);
  border-radius: 0 20px 20px 0;
  padding: 1rem;
  overflow-y: auto;
}

.infoWindow::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 20px 0 20px 0;
}

.infoWindow::-webkit-scrollbar { 
  width: 6px;
  height: 20px;
  background-color: transparent;
}

.infoWindow::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.903);
}

.controlWindow {
  box-shadow: 0 0 7px hsl(0, 0%, 30%);
  z-index: 9;
  position: absolute;
  bottom: calc(40% + 70px);
  left: 100%;
  background-color: hsl(180, 38%, 56%);
  display: flex; 
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: whitesmoke;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.controlWindowClose {
  box-shadow: 0 0 7px hsl(0, 0%, 30%);
  z-index: 9;
  position: absolute;
  left: 0;
  bottom: calc(40% + 70px);
  background-color: hsl(180, 38%, 56%);
  display: flex; 
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: whitesmoke;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}


.toilet {
  margin-top: 0.6rem;
  padding: 0.5rem;
  color: whitesmoke;
  border: 2.7px solid hsl(0, 0%, 100%);
  border-radius: 10px;
}

.toilet h2 {
  font-size: 1rem;
}

.toilet a{
  text-decoration: none;
  color: hsl(0, 0%, 93%);
}

.smallWindow {
  padding-left: 0.3rem;
}

.floorBtnContainer {
  margin: 0.3rem;
}

.pushedFloorBtn {
  margin: 0.25rem;
  width: 3rem;
  height: 1.5rem;
  font-size: 1rem;
  background-color: hsl(350, 100%, 78%);
  color: white;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.floorBtn {
  margin: 0.2rem;
  width: 2.5rem;
  height: 1.5rem;
  font-size: 1rem;
  background-color: hsl(350, 60%, 65%);
  color: white;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.toiletTypeContainer {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  cursor: pointer;
}

.detailContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.detailPart {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  margin-top: 0.5rem;
}

.string {
  margin-left: 1rem;
}

.selectForm {
  z-index: 10;
  position: absolute;
  padding: 0.5rem;
  min-width: 1%;
  height: 70%;
  top: 200px;
  right: 0px;
  background-color: transparent;
}

.buttonGroup {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.nonDisplay{
  display: none;
}

.displayWord {
  font-size: 0.9rem;
  margin-right: 0.7rem;
  padding: 0.3rem;
  background-color: hsl(350, 55%, 68%);
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.btn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  color:hsl(0, 100%, 50%);
  background-color: hsl(0, 100%, 76%);
  border: 6px solid hsl(25, 63%, 48%);
  border-radius: 40%;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.btnFocus {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: bold;
  background-color: hsl(212, 100%, 37%);
  border: 6px solid hsl(242, 100%, 72%);
  border-radius: 40%;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.toiletSection {
  border: 2.5px solid hsl(0, 0%, 100%);
  border-radius: 13px;
  list-style: none;
  padding: 0.3rem;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}


.nonToiletSection {
  border: 2px solid hsla(0, 5%, 25%, 0.327);
  border-radius: 13px;
  list-style: none;
  padding: 0.3rem;
  margin: 0.25rem;
  display: flex;
  color:  hsla(0, 5%, 25%, 0.327);;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.toiletSection p{
  margin-top: 0.4rem;
  font-size: 0.7rem;
}

.nonToiletSection p{
  margin-top: 0.4rem;
  font-size: 0.6rem;
}

@media (max-width: 800px){
  .infoContainer {
    position: absolute;
    box-shadow: 0 0 7px hsl(0, 0%, 30%);
    min-width: 100vw;
    height: 45.4vh;
    bottom: 0px;
    left: 0px;
    background-color: hsl(180, 45%, 60%);
    border-radius: 20px 20px 0 0;
  }

  .infoWindow, .toiletPage {
    left: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    min-width: 100vw;
    height: 43vh;
    bottom: 0px;
    color: hsl(0, 0%, 100%);
    box-shadow: none;
    border-radius: none;
    background-color: hsl(180, 45%, 60%);
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  }

  .floorBtnContainer {
    margin: 0;
  }

  .pushedFloorBtn {
    margin: 0.25rem;
    width: 2rem;
    height: 1rem;
    font-size: 0.7rem;
    background-color: hsl(350, 100%, 78%);
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
  }
  
  .floorBtn {
    margin: 0.25rem;
    width: 2rem;
    height: 1rem;
    font-size: 0.7rem;
    background-color: hsl(350, 60%, 65%);
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
  }
  
  .smallWindow {
    position: sticky;
    margin-top: 0.3rem;
    bottom: 42vh;
  }
  
  .smallWindow h2 {
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
    color: white;
  }

  .smallWindow p {
    font-size: 0.7rem;
  }

  .infoWindow::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 20px 0 2px 0;
  }

  .toilet h2 {
    font-size: 0.9rem;
  }

  .controlWindow {
    box-shadow: none;
    z-index: 11;
    position: absolute;
    bottom: 42vh;
    left: calc(50% - 50px);
    width: 100px;
    height: 7px;
    background-color: transparent;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;
    color: whitesmoke;
    border-radius: 10px 10px 0px 0;
    cursor: pointer;
  }

  .controlWindowClose {
    box-shadow: 0 0 7px hsl(0, 0%, 30%);
    z-index: 9;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    background-color: hsl(180, 38%, 56%);
    display: flex; 
    width: 100px;
    height: 23px;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
  }

  .Header {
    width: 100%;
    height: 8vh;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Header img {
    width: 40px;
    height: 40px;
  }

  .Header h1 {
    font-weight: bold;
    font-size:1.5rem;
    color: white;
  }

  .mapScreenContainer {
    display: flex;
    flex-grow: 1;
    z-index: 1;
    justify-content: center;
    align-items: center;  
    width: 100vw;
    height: 92vh;
  }

  .markers {
    width: 1rem;
    height: 1rem;
    border: 2px solid hsl(335, 55%, 60%);
    border-radius: 50%;
    background-color:hsl(0, 100%, 29%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    color: white;
    transition: all 0.3s ease-out;
  }

  .clickMarker {
    z-index: 20;
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 3.5px solid hsl(260, 100%, 73%);
    border-radius: 50%;
    background-color:hsl(210, 97%, 62%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: white;
    transition: all 0.3s ease-out;
  }

  .selectForm {
    z-index: 10;
    position: absolute;
    padding: 0;
    margin: 0;
    min-width: 100%;
    height: 6%;
    background-color: transparent;
    top:  calc(100vh - 90vh - 20px);
    right: 0;
  }

  .buttonGroup {
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0.75rem 0.75rem 0 0.75rem;
    align-items: flex-start;
    flex-direction: row;
  }

  .selectContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .displayWord {
    font-size: 0.65rem;
    margin: 0.3rem;
    padding: 0.3rem;
    background-color: hsl(350, 55%, 68%);
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease-out;
  }

  .btn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: hsl(0, 100%, 76%);
    border: 3px solid hsl(25, 63%, 48%);
    border-radius: 40%;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  
  .btnFocus {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: hsl(212, 100%, 37%);
    border: 3px solid hsl(242, 100%, 72%);
    border-radius: 40%;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }

  .nonAsideDisplay {
    position: absolute;
    right: 0px;
    height: 0.75rem;
    width: 0px;
    top: 10vh;
    display: flex;
    align-items: flex-end;
  }

  .displayAsideWord{
    z-index: 10;
    display: flex;
    align-items: flex-start;
    position: absolute;
    min-width: 20%;
    right: -20px;
    min-width: 40%;
    font-size: 0.75rem;
    background-color: hsl(350, 55%, 68%);
    top: calc(100vh - 90vh - 20px);
    padding:  0.1rem 0 0.1rem 0.3rem;
    border-radius: 10px 0 0 10px;
    transform: translateX(-20px);
    transition: all 0.3s ease-out;
  }

  .displayAsideWord::after{
    transform: translateX(20px);
    transition: all 0.3s ease-out;
  }
}