@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  padding-top: constant(safe-area-inset-top);
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
  overflow: hidden;
}

.App {
  height: 100%;
  width: 100%;
}

.Header {
  width: 100%;
  height: 10vh;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(180, 38%, 56%);
  align-items: center;
}

.Header h1 {
  font-weight: bold;
}

.Header img {
  width: 65px;
  height: 65px;
}

.mapScreenContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;  
  width: 100vw;
  height: 90vh;
}

.markerContainer a {
  text-decoration: none;
}

.markers {
  width: 35px;
  height: 35px;
  border: 2px solid #6375ab;
  border-radius: 50%;
  background-color:hsl(203, 100%, 73%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s ease-out;
}

.greenMarker {
  width: 35px;
  height: 35px;
  border: 2px solid hsl(151, 39%, 30%);
  border-radius: 50%;
  background-color: hsl(100, 68%, 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s ease-out;
}

.yellowMarker {
  width: 35px;
  height: 35px;
  border: 2px solid hsl(22, 80%, 54%);
  border-radius: 50%;
  background-color: hsl(40, 100%, 61%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s ease-out;
}

.deepBlueMarker {
  width: 35px;
  height: 35px;
  border: 2px solid hsl(225, 60%, 33%);
  border-radius: 50%;
  background-color: hsl(233, 87%, 61%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s ease-out;
}

.clickMarker {
  z-index: 20;
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: hsl(350, 100%, 71%);
  border: 2px solid hsla(289, 97%, 26%, 0.415);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s ease-out;
}

.nowLocation {
  font-size: 2rem;
}

.notDisplay {
  display: none;
}

.infoContainer, .toiletPage {
  position: absolute;
  width: 50%;
  max-width: 500px;
  height: 80%;
  bottom: 45px;
  left: 0px;
  background-color: transparent;
}

.infoWindow  {
  z-index: 10;
  position: absolute;
  margin: 0;
  width: 100%;
  max-width: 500px;
  height: 100%;
  bottom: 0px;
  left: 0px;
  color: whitesmoke;
  background-color: hsl(180, 38%, 56%);
  box-shadow: 1px 2px 7px hsl(0, 0%, 30%);
  border-radius: 0 20px 20px 0;
  padding: 1rem;
  overflow-y: auto;
}

.infoWindow::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 20px 0 20px 0;
}

.infoWindow::-webkit-scrollbar { 
  width: 6px;
  height: 20px;
  background-color: transparent;
}

.infoWindow::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.903);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.infoWindow h1 {
  font-size: 1.8rem;
}

.liffBtn {
  width: 80px;
  height: 30px;
  float: right;
  border-radius: 10px;
  background-color: hsl(350, 70%, 71%);
  color: hsl(0, 0%, 96%);
  border: none;
  text-align: center;
  box-shadow: 1px 1px 1px hsl(0, 0%, 39%);
  cursor: pointer;
}

.controlWindow {
  box-shadow: 0 0 7px hsl(0, 0%, 30%);
  z-index: 9;
  position: absolute;
  bottom: calc(40% + 70px);
  left: 100%;
  background-color: hsl(180, 38%, 56%);
  display: flex; 
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: whitesmoke;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.controlWindowClose {
  box-shadow: 0 0 7px hsl(0, 0%, 30%);
  z-index: 9;
  position: absolute;
  left: 0;
  bottom: calc(40% + 70px);
  background-color: hsl(180, 38%, 56%);
  display: flex; 
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: whitesmoke;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.infoForm {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toiletList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.toiletList p {
  font-size: 0.9rem;
}

.toilet {
  width: 90%;
  padding: 0.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  min-height: 80px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.toiletActname {
  font-size: 0.8rem;
  color: whitesmoke;
}

.toiletWithBtn a{
  text-decoration: none;
}

.toilet a{
  text-decoration: none;
}

.toiletLookBtn {
  background-color: hsl(209, 58%, 40%);
  color: whitesmoke;
  border: none;
  border-radius: 15px;
  width: 70px;
  font-weight: 500;
  font-size: 0.6rem; 
  padding: 0.3rem;
  box-shadow: 1px 1.5px 1.5px hsl(0, 0%, 39%);
  cursor: pointer;
}

.smallWindow {
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
}

.infoDetails p{
  font-size: 0.67rem;
}

.naviBtn {
  width: 80px;
  height: 40px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  margin-right: 0.3rem;
  background-color: hsl(209, 58%, 40%);
  box-shadow: 1px 1.5px 1.5px hsl(0, 0%, 39%);
}

.navContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

.smallWindow a{
  text-decoration: none;
  color: white;
}


.floorBtnContainer { 
  margin-bottom: 0.3rem;
}

.pushedFloorBtn {
  margin: 0.2rem;
  min-width: 2rem;
  height: 1.2rem;
  font-size: 0.8rem;
  background-color: hsl(209,65%, 50%);
  color: whitesmoke;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.floorBtn {
  margin: 0.2rem;
  width: 2rem;
  height: 1.2rem;
  font-size: 0.8rem;
  background-color: hsl(205, 66%, 35%);
  color: whitesmoke;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.detailContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.spareInfo {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;       
}

.spareInfo p{
  font-size: 0.9rem;     
}

.spareContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0.3rem;
}

.spareMissing {
  font-size: 0.7rem;
  margin-right: 0.3rem;
}

.spare {
  margin: 0.3rem;
  padding: 0.2rem;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 0.6rem;
  color: hsl(180, 38%, 56%);
  background-color: white;
  font-weight: bold;
}

.detailPart {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
}

.string {
  margin-left: 1rem;
}

.selectForm {
  z-index: 10;
  position: absolute;
  padding: 0.5rem;
  min-width: 1%;
  height: 70%;
  top: 150px;
  right: 0px;
  background-color: transparent;
}

.buttonGroup {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.nonDisplay{
  display: none;
}

.displayWord {
  font-size: 0.9rem;
  margin-right: 0.7rem;
  padding: 0.3rem;
  background-color: hsl(350, 55%, 68%);
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.btn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: hsl(0, 100%, 76%);
  border: 6px solid hsl(323, 63%, 48%);
  border-radius: 40%;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.btnFocus {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: bold;
  background-color: hsl(212, 100%, 37%);
  border: 6px solid hsl(242, 100%, 72%);
  border-radius: 40%;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.toiletTypeContainer {
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
}

.toiletSection {
  border: 2.5px solid hsl(0, 0%, 100%);
  border-radius: 13px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 15px;
  list-style: none;
  padding: 0.3rem;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}


.nonToiletSection {
  border: 2px solid hsla(0, 0%, 35%, 0.327);
  border-radius: 13px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 15px;
  list-style: none;
  padding: 0.3rem;
  margin: 0.25rem;
  display: flex;
  color:  hsla(0, 0%, 35%, 0.327);;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.toiletSection p{
  margin-top: 0.4rem;
  font-size: 0.7rem;
}

.nonToiletSection p{
  margin-top: 0.4rem;
  font-size: 0.6rem;
}

.backInit {
  position: absolute;
  right: 1rem;
  bottom: 4vh;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  color: whitesmoke;
  padding: 0.1rem;
  font-size: 1.3rem;
  background-color: hsl(180, 45%, 60%);
  border-radius: 45px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 7px hsl(0, 0%, 30%);
}


@media (max-width: 800px){
  .infoContainer {
    position: absolute;
    box-shadow: 0 0 7px hsl(0, 0%, 30%);
    min-width: 100vw;
    height: 54.3vh;
    bottom: 0px;
    left: 0px;
    background-color: hsl(180, 45%, 60%);
    border-radius: 20px 20px 0 0;
  }

  .infoWindow {
    left: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    min-width: 100vw;
    height: 51vh;
    bottom: 0px;
    color: hsl(0, 0%, 100%);
    box-shadow: none;
    border-radius: none;
    background-color: hsl(180, 45%, 60%);
    border-radius: 20px 20px 0 0;
    padding: 0 0.9rem 0.3rem 0.9rem;
  }

  .infoWindow h1 {
    margin: 0.3rem;
    font-size: 1.6rem;
  };

  .floorBtnContainer {
    margin: 0;
  }

  .pushedFloorBtn {
    margin: 0.25rem;
    width: 2rem;
    height: 1rem;
    font-size: 0.7rem;
    background-color: hsl(212, 100%, 70%);
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
  }
  
  .floorBtn {
    margin: 0.25rem;
    width: 2rem;
    height: 1rem;
    font-size: 0.7rem;
    background-color: hsl(205, 66%, 35%);
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
  }
  
  .smallWindow {
    margin-left: 0.3rem;
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
  }

  .smallWindow p {
    font-size: 0.67rem;
  }

  .infoWindow::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 10px 0 2px 0;
  }

  .detailContainer::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 10px 0 2px 0;
  }

  .toiletActname {
    font-size: 0.9rem;
    color: hsl(0, 0%, 93%);
  }

  .controlWindow {
    box-shadow: none;
    z-index: 11;
    position: absolute;
    bottom: 50.2vh;
    left: calc(50% - 7.5px);
    width: 30px;
    height: 30px;
    background-color: transparent;
    display: flex; 
    font-size: 1.7rem;
    justify-content: center;
    align-items: flex-end;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
  }

  .controlWindowClose {
    box-shadow: 0 0 7px hsl(0, 0%, 30%);
    z-index: 9;
    position: absolute;
    bottom: 0vh;
    left: 0;
    background-color: hsl(180, 38%, 56%);
    display: flex; 
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.7rem;
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
  }

  .Header {
    width: 100%;
    height: 8vh;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Header img {
    width: 40px;
    height: 40px;
  }

  .Header h1 {
    font-weight: bold;
    font-size:1.5rem;
    color: white;
  }

  .mapScreenContainer {
    display: flex;
    flex-grow: 1;
    z-index: 1;
    justify-content: center;
    align-items: center;  
    width: 100vw;
    height: 92vh;
  }

  .selectForm {
    z-index: 10;
    position: absolute;
    padding: 0;
    margin: 0;
    min-width: 100%;
    height: 6%;
    background-color: transparent;
    top:  calc(100vh - 90vh - 20px);
    right: 0;
  }

  .buttonGroup {
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0.75rem 0.75rem 0 0.75rem;
    align-items: flex-start;
    flex-direction: row;
  }

  .selectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .displayWord {
    font-size: 0.65rem;
    margin: 0.3rem;
    padding: 0.3rem;
    background-color: hsl(350, 55%, 68%);
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease-out;
  }

  .btn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: hsl(212, 100%, 37%);
    background-color: white;
    border: 3px solid hsl(233, 87%, 61%);
    border-radius: 10px;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  
  .btnFocus {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: hsl(212, 100%, 37%);
    border: 3px solid hsl(233, 83%, 68%);
    border-radius: 40%;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }

  .nonAsideWord {
    position: absolute;
    right: 0;
    height: 0.75rem;
    top: calc(100vh - 90vh + 10px);
    display: flex;
    align-items: flex-end;
    transition: all 0.3s linear;
  }

  .asideWord {
    z-index: 10;
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: 0px;
    top: 40vh;
    font-size: 0.75rem;
    color: white;
    background-color: hsl(350, 55%, 68%);
    top: calc(100vh - 90vh + 10px);
    padding:  0.1rem 0.5rem 0.1rem 0.3rem;
    border-radius: 10px 0 0 10px;
  }

  .backInit {
    position: absolute;
    right: 5px;
    bottom: calc(1vh + 45px);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    color: whitesmoke;
    padding: 0.1rem;
    font-size: 1.3rem;
    background-color: hsl(180, 45%, 60%);
    border-radius: 45px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 7px hsl(0, 0%, 30%);
  }

  .openBackInit {
    position: absolute;
    right: 5px;
    bottom: 55.3vh;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    color: whitesmoke;
    padding: 0.1rem;
    font-size: 1.3rem;
    background-color: hsl(180, 45%, 60%);
    border-radius: 45px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 7px hsl(0, 0%, 30%);
  }
  
  .detailContainer{
    border-bottom: 2px solid white;
    border-top:  2px solid white;
    padding : 0.6rem 0 0.6rem 0;
  }

  .detailPart {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.7rem;
    width: 100%;
  }

  .commentContent {
    display: flex;
    flex-direction: column;
  }

  .commentContainer {
    display: flex;
    flex-direction: column;
  }

  .comment {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    min-height: 70px;
    padding: 0.6rem;
    width: 100%;
    margin: 0.3rem;
    list-style-type: none;
    font-size: 0.7rem;
  }

  .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.2rem;
  }
  
  .content {
    display: flex;
    justify-content: flex-end;
  }
}